<div class="row" hidden id="credit-spread">
  <div hidden class="" id="credit-spread-tab-bar-wrapper">
    <ul class="nav nav-tabs" id="credit-spread-tab-bar">
    </ul>
  </div>
  <table class="compact stripe row-border order-column display" hidden data-page-length="<%= GlobalConfig.data_table_page_size %>" id="credit-spread-table">
    <thead id="credit-spread-table-head">
      <tr>
        <th>Symbol</th>
        <th>Type</th>
        <th>EPROF</th>
        <th>EPROM</th>
        <th>POP</th>
        <th>Strikes</th>
        <th>#</th>
        <th>Margin</th>
        <th>Profit</th>
        <th>%ROM</th>
        <th>Near Delta</th>
        <th>Near OI</th>
        <th>Far OI</th>
        <th>Mark Prem</th>
        <th>Market Prem</th>
        <th>Market Profit</th>
      </tr>
    </thead>
    <tbody id="credit-spread-table-body"></tbody>
  </table>
</div>
