<div class="row" hidden id="iron-condor">
  <div hidden class="" id="iron-condor-tab-bar-wrapper">
    <ul class="nav nav-tabs" id="iron-condor-tab-bar">
    </ul>
  </div>
  <table class="compact stripe row-border order-column display"  hidden data-page-length="<%= GlobalConfig.data_table_page_size %>" id="iron-condor-table">
    <thead id="iron-condor-table-head">
      <tr>
        <th>Symbol</th>
        <th>EPROF</th>
        <th>EPROM</th>
        <th>POP</th>
        <th>Strikes</th>
        <th>#</th>
        <th>Margin</th>
        <th>Profit</th>
        <th>%ROM</th>
        <th>Near Deltas</th>
        <th>Near OI</th>
        <th>Far OI</th>
        <th>Mark Prem</th>
        <th>Market Prem</th>
        <th>Market Profit</th>
      </tr>
    </thead>
    <tbody id="iron-condor-table-body"></tbody>
  </table>
</div>
