<table class="compact stripe row-border order-column display" id="saved-spreads-table">
  <thead id="saved-spreads-table-head">
    <tr>
      <th>Symbol</th>
      <th>Type</th>
      <th>Expiration</th>
      <th>Strikes</th>
      <th>pop</th>
      <th>#</th>
      <th>Margin</th>
      <th>Mark Prem</th>
      <th>Market Prem</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="saved-spreads-table-body">
    <%= render current_user.positions %>
  </tbody>
</table>
