<script type="text/javascript">
<% s = current_user.trade_param_sets.first %>
$(document)
.ready(function () {
  USER_TRADE_PARAMS = <%= raw s.to_json %>;
  USER_TRADE_PARAMS.expiration_months = <%= raw GlobalConfig.expiration_months.map{|m| [m[0,4].to_i,m[4,2].to_i - 1]}.to_json %>;
  USER_TRADE_PARAMS.exp_month_strs = <%= raw GlobalConfig.expiration_months %>

  USER_SLIDER_PROFILE = <%= raw GlobalConfig.slider_profile.to_json %>;
});
</script>
<div class="container">
  <div hidden class="" id="trade-params">
    <div class="field">
      <form id="expiration-months">
        Expirations:
        <% GlobalConfig.expiration_months.each do |m| %>
          <span class="ghw-checkbox">
            <input checked name="expirationMonths" type="checkbox" value="<%= m %>"/>
            <label for="<%= m %>" ><span></span><%= m %></label>
          </span>
        <% end %>
      </form>
    </div>
    <div class="row">
      <div class="col-md-8">
        <hr class="style14" id="ghw-tp-line">
      </div>
    </div>
  <div>
    <%= form_for s do |f| %>
      <% if s.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(s.errors.count, "error") %>
            prohibited this trade_param_set from being saved:</h2>
          <ul>
            <% s.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <ul class='ghw-tps-outer-container'>

        <ul class='ghw-tps-container'>
          <li class='ghw-tps-centered-label'>General</li>
          <li class='ghw-tps-item'>
            <%= f.label :commission_base %>
            <%= f.number_field :commission_base, min: 0.0, step: 0.01 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :commission_per_contract, "Per contract" %>
            <%= f.number_field :commission_per_contract, min: 0.0, step: 0.01 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :commission_min %>
            <%= f.number_field :commission_min, min: 0.0, step: 0.01 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :recommended_flag, "Recommended only" %>
            <%= f.check_box :recommended_flag %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :avoid_earnings %>
            <%= f.check_box :avoid_earnings %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :max_margin_per_trade %>
            <%= f.number_field :max_margin_per_trade, min: 0 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :total_margin %>
            <%= f.number_field :total_margin, min: 0 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :min_options_volume %>
            <%= f.number_field :min_options_volume, min: 0 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :min_open_interest %>
            <%= f.number_field :min_open_interest, min: 0 %>
          </li>

          <li>
            <div class="actions">
              <%= submit_tag("Save", class: "btn btn-primary", id: "trade-params-save-button") %>
              <span id="trade-params-save-text" hidden>&nbsp;&nbsp;Saved</span>
            </div>
          </li>
        </ul>

        <ul class='ghw-tps-container'>
          <li class='ghw-tps-centered-label'>Credit Spread/Iron Condor</li>
          <li class='ghw-tps-item'>
            <%= f.label :near_strike_max_delta, nowrap: true %>
            <%= f.number_field :near_strike_max_delta, step: 0.01, min: 0.0 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :min_mark_premium %>
            <%= f.number_field :min_mark_premium, step: 0.01, min: 0.0 %>
          </li>
          <li class='ghw-tps-item'>
            <%= f.label :min_percent_rom %>
            <%= f.number_field :min_percent_rom, step: 0.01 %>
          </li>
        </ul>

        <ul class='ghw-tps-container'>
          <li class='ghw-tps-centered-label'>Debit Spread</li>
          <li class='ghw-tps-item'>
            <%= f.label :ds_near_strike_min_delta, "Near strike min delta" %>
            <%= f.number_field :ds_near_strike_min_delta, step: 0.01, min: 0.0 %>
          </li>
        </ul>

      </ul>

    <% end %>
  </div>
  </div>
</div>
