<script type="text/javascript">
  <% s = current_user.trade_param_sets.first %>
  $(document)
    .ready(function () {
      USER_TRADE_PARAMS = <%= raw s.to_json %>;
      USER_TRADE_PARAMS.expiration_months = <%= raw GlobalConfig.expiration_months.map{|m| [m[0,4].to_i,m[4,2].to_i - 1]}.to_json %>;
      USER_TRADE_PARAMS.exp_month_strs = <%= raw GlobalConfig.expiration_months %>

      USER_SLIDER_PROFILE = <%= raw GlobalConfig.slider_profile.to_json %>;
    });
</script>
<div class="container">
  <div class="row no-gutter">

<div hidden class="" id="trade-params">
  <!-- <div class=""> -->
  <div class="field">
    <form id="expiration-months">
        Expirations:
          <% GlobalConfig.expiration_months.each do |m| %>
          <input checked name="expirationMonths" type="checkbox" value="<%= m %>"/>&nbsp;<%= m %>&nbsp;&nbsp;
          <% end %>
    </form>
  </div>
  <div class="ghw-tradeparams-form">
    <%= form_for s do |f| %>
    <% if s.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(s.errors.count, "error") %>
        prohibited this trade_param_set from being saved:</h2>

      <ul>
        <% s.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <div class="row no-gutter">
        <div class="no-padding col-md-4">
          <div class="field row">
            <%= f.label :near_strike_max_delta, class: "col-xs-6", nowrap: true %>
            <%= f.number_field :near_strike_max_delta, step: 0.01, min: 0.0, class: ""%>
          </div>
          <div class="field row">
            <%= f.label :min_open_interest, class: "col-xs-6" %>
            <%= f.number_field :min_open_interest, min: 0 , class: ""%>
          </div>
          <div class="field row">
            <%= f.label :min_mark_premium, class: "col-xs-6" %>
            <%= f.number_field :min_mark_premium, step: 0.01, min: 0.0, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :max_margin_per_trade, class: "col-xs-6" %>
            <%= f.number_field :max_margin_per_trade, min: 0, class: "" %>
          </div>
        </div>
        <div class="no-padding col-md-4">
          <div class="field row">
            <%= f.label :total_margin, class: "col-xs-5" %>
            <%= f.number_field :total_margin, min: 0, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :min_percent_rom, class: "col-xs-5" %>
            <%= f.number_field :min_percent_rom, step: 0.01, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :avoid_earnings, class: "col-xs-5" %>
            <%= f.check_box :avoid_earnings, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :min_options_volume, class: "col-xs-5" %>
            <%= f.number_field :min_options_volume, min: 0, class: "" %>
          </div>
        </div>
        <div class="no-padding col-md-4">
          <div class="field row">
            <%= f.label :commission_base, class: "col-xs-5" %>
            <%= f.number_field :commission_base, min: 0.0, step: 0.01, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :commission_per_contract, "Per contract", class: "col-xs-5"%>
            <%= f.number_field :commission_per_contract, min: 0.0, step: 0.01, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :commission_min, class: "col-xs-5" %>
            <%= f.number_field :commission_min, min: 0.0, step: 0.01, class: "" %>
          </div>
          <div class="field row">
            <%= f.label :recommended_flag, "Recommended only", class: "col-xs-5" %>
            <%= f.check_box :recommended_flag, class: "" %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= submit_tag("Save", class: "btn btn-primary", id: "trade-params-save-button") %>
      <span id="trade-params-save-text" hidden>&nbsp;&nbsp;Saved</span>
    </div>
    <% end %>
  </div>
</div>
</div>
