<div class="container">
  <div class="row">

    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active" role="presentation">
          <a class="selector-tab" id="underlying-selection-tab">Underlying</a>
        </li>
        <li role="presentation">
          <a class="selector-tab" id="trade-params-tab">Trade&nbsp;Params</a>
        </li>
        <li role="presentation">
          <%= link_to "Saved&nbsp;Positions".html_safe, '/user_spreads', :class => "selector-tab", :id => "saved-spreads-tab", :remote => true %>
        </li>
      </ul>
      <hr class="style14"/>
      <ul class="nav nav-pills nav-stacked" id="strategy-tab-container">
        <li class="active" role="presentation">
          <a class="strategy-selector-tab" id="credit-spread-tab">Credit&nbsp;Spreads</a>
        </li>
        <li class="" role="presentation">
          <a class="strategy-selector-tab" id="iron-condor-tab">Iron&nbsp;Condors</a>
        </li>
        <li class="" role="presentation">
          <a class="strategy-selector-tab" id="debit-spread-tab">Debit&nbsp;Spreads</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-10">
      <%= render 'tradeparams' %>
      <%= render 'underlying_selection' %>
      <div hidden id="saved-spreads" style="height: 300px;"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="btn-group ghw-nowrap" role="group">
        <button id="generateButton" type="button" class="btn btn-success">Generate Trades</button>
        <button id="saveSpreadsButton" type="button" class="btn btn-success" disabled=true>
          Save Selected</button>
      </div>
    </div>
    <div class="col-xs-4">
      <div hidden class="spinner" id="wait-for-credit-spreads">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <br/>
  <div hidden id="errors"></div>
  <div style="height: 1000px;">
    <%= render 'credit_spread_table' %>
    <%= render 'iron_condor_table' %>
    <%= render 'debit_spread_table' %>
  </div>
</div>
