<div class="container" id="underlying-selection">

  <div class="col-xs-5">
    <!-- <label for="avg_daily_opt_volume-amount">Options volume:</label>
    <input class="ghw-grey-background ghw-slider-label" id="avg_daily_opt_volume-amount" readonly type="text">
    <div id="avg_daily_opt_volume-slider"></div><br/> -->

    <div id="asset_type-checkbox" class="field">
      <label style="">Asset&nbsp;Type:&nbsp;</label>

      <span class="ghw-checkbox">
        <input checked name="asset_type" type="checkbox" value="Index"/>
        <label for="Index">
          <span></span>Index</label>
      </span>

      <span class="ghw-checkbox">
        <input checked name="asset_type" type="checkbox" value="ETF"/>
        <label for="ETF">
          <span></span>ETF</label>

      </span>

      <span class="ghw-checkbox">
        <input checked name="asset_type" type="checkbox" value="Equity"/>
        <label for="Equity">
          <span></span>Equity</label>
      </span>
    </div>
    <div>

      <label for="historic_volatility-amount">Historic volatility:</label>
      <input class="ghw-grey-background ghw-slider-label" id="historic_volatility-amount" readonly type="text">
      <div id="historic_volatility-slider"></div><br/>

      <label for="implied_volatility-amount">Implied volatility:</label>
      <input class="ghw-grey-background ghw-slider-label" id="implied_volatility-amount" readonly type="text">
      <div id="implied_volatility-slider"></div><br/>

      <label for="iv_rank-amount">IV rank:</label>
      <input class="ghw-grey-background ghw-slider-label" id="iv_rank-amount" readonly type="text">
      <div id="iv_rank-slider"></div><br/>

      <label for="rsi-amount">RSI:</label>
      <input class="ghw-grey-background ghw-slider-label" id="rsi-amount" readonly type="text">
      <div id="rsi-slider"></div><br/>

      <label for="trend-amount">Trend:</label>
      <input class="ghw-grey-background ghw-slider-label" id="trend-amount" readonly type="text">
      <div id="trend-slider"></div><br/>

      <label for="recent_price-amount">Recent price:</label>
      <input class="ghw-grey-background ghw-slider-label" id="recent_price-amount" readonly type="text">
      <div id="recent_price-slider"></div><br/>

    </div>
  </div>

  <div class="col-xs-5">
    <div>
      <button type="button" class="btn btn-primary" id="max-out-button">All Underlyings</button>
    </div>
    <div hidden id="underlying-table-container">
      <table class="compact stripe row-border order-column display nowrap" id="underlying-table">
        <thead id="underlying-table-head">
          <tr>
            <th>Symbol</th>
            <th>HVol</th>
            <th>IVol</th>
            <th>IVRank</th>
            <th>RSI</th>
            <th>Trend</th>
            <th>Price</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="underlying-table-body"></tbody>
      </table>
    </div>
  </div>

</div>
