<h1>ThisIsHomePage!</h1>
<div class="jumbotron">
  <p>
    This is the home page. Code in /views/ocraft/index.html.erb
    <%= link_to 'Sign up!', new_user_registration_path,
        class: 'btn btn-primary btn-lg' %>
  </p>
</div>
