<tr>
  <td>
    <%= position.symbol %>
  </td>
  <td>
    <%= position.opt_type %>
  </td>
  <td>
    <%= position.expiration %>
  </td>
  <td>
    <%= position.strikes %>
  </td>
  <td>
    <%= position.pop %>
  </td>
  <td>
    <%= position.num_contracts %>
  </td>
  <td>
    <%= position.margin %>
  </td>
  <td>
    <%= position.mark_premium %>
  </td>
  <td>
    <%= position.market_premium %>
  </td>
  <td>
    <%= link_to 'Delete', position,
           :method => :delete, :remote => true %>
  </td>
</tr>
