$('#saved-spreads').html("<%= escape_javascript(render(partial: 'ocraft/saved_spreads')) %>");
$("#saved-spreads-table").DataTable({searching: false, "columnDefs": [{"targets": 9, "orderable": false}]});
