<div class="container">
  <div class="row">
    <div class="center-block col-md-4 row-md-2" style="float: none;">
      <%= devise_error_messages! %>
      <div class="panel panel-default" style="margin-top: 75px;">
        <table class="table borderless" id="sign-in-table">
          <tbody>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <div class="field">
                  <%= f.label :email %><br/>
                  <%= f.email_field :email, autofocus: true %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <div class="field">
                  <%= f.label :password %><br/>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>
                    characters minimum)</em>
                  <% end %><br/>
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <div class="field">
                  <%= f.label :password_confirmation %><br/>
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center">
                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-primary sign-in-button" %>
                </div>
              </td>
            </tr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
