<%= form_for(@underlying) do |f| %>
  <% if @underlying.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@underlying.errors.count, "error") %> prohibited this underlying from being saved:</h2>

      <ul>
      <% @underlying.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tda_symbol %><br>
    <%= f.text_field :tda_symbol %>
  </div>
  <div class="field">
    <%= f.label :om_symbol %><br>
    <%= f.text_field :om_symbol %>
  </div>
  <div class="field">
    <%= f.label :yh_symbol %><br>
    <%= f.text_field :yh_symbol %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :asset_type %><br>
    <%= f.text_field :asset_type %>
  </div>
  <div class="field">
    <%= f.label :last_earnings_date %><br>
    <%= f.text_field :last_earnings_date %>
  </div>
  <div class="field">
    <%= f.label :next_earnings_date %><br>
    <%= f.text_field :next_earnings_date %>
  </div>
  <div class="field">
    <%= f.label :last_dividend_date %><br>
    <%= f.text_field :last_dividend_date %>
  </div>
  <div class="field">
    <%= f.label :avg_daily_opt_volume %><br>
    <%= f.number_field :avg_daily_opt_volume %>
  </div>
  <div class="field">
    <%= f.label :historic_volatility %><br>
    <%= f.text_field :historic_volatility %>
  </div>
  <div class="field">
    <%= f.label :implied_volatility %><br>
    <%= f.text_field :implied_volatility %>
  </div>
  <div class="field">
    <%= f.label :iv_rank %><br>
    <%= f.text_field :iv_rank %>
  </div>
  <div class="field">
    <%= f.label :trend %><br>
    <%= f.text_field :trend %>
  </div>
  <div class="field">
    <%= f.label :rsi %><br>
    <%= f.text_field :rsi %>
  </div>
  <div class="field">
    <%= f.label :recent_price %><br>
    <%= f.text_field :recent_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
