<p id="notice"><%= notice %></p>

<h1>Listing Underlyings</h1>

<table>
  <thead>
    <tr>
      <th>Tda symbol</th>
      <th>Om symbol</th>
      <th>Yh symbol</th>
      <th>Name</th>
      <th>Asset type</th>
      <th>Last earnings date</th>
      <th>Next earnings date</th>
      <th>Last dividend date</th>
      <th>Options volume</th>
      <th>Historic volatility</th>
      <th>Implied volatility</th>
      <th>Iv rank</th>
      <th>Trend</th>
      <th>Rsi</th>
      <th>Recent Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @underlyings.each do |underlying| %>
      <tr>
        <td><%= underlying.tda_symbol %></td>
        <td><%= underlying.om_symbol %></td>
        <td><%= underlying.yh_symbol %></td>
        <td><%= underlying.name %></td>
        <td><%= underlying.asset_type %></td>
        <td><%= underlying.last_earnings_date %></td>
        <td><%= underlying.next_earnings_date %></td>
        <td><%= underlying.last_dividend_date %></td>
        <td><%= underlying.avg_daily_opt_volume %></td>
        <td><%= underlying.historic_volatility %></td>
        <td><%= underlying.implied_volatility %></td>
        <td><%= underlying.iv_rank %></td>
        <td><%= underlying.trend %></td>
        <td><%= underlying.rsi %></td>
        <td><%= underlying.recent_price %></td>
        <td><%= link_to 'Show', underlying %></td>
        <td><%= link_to 'Edit', edit_underlying_path(underlying) %></td>
        <td><%= link_to 'Destroy', underlying, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Underlying', new_underlying_path %>
