<p id="notice"><%= notice %></p>

<p>
  <strong>Tda symbol:</strong>
  <%= @underlying.tda_symbol %>
</p>

<p>
  <strong>Om symbol:</strong>
  <%= @underlying.om_symbol %>
</p>

<p>
  <strong>Yh symbol:</strong>
  <%= @underlying.yh_symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @underlying.name %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @underlying.asset_type %>
</p>

<p>
  <strong>Last earnings date:</strong>
  <%= @underlying.last_earnings_date %>
</p>

<p>
  <strong>Next earnings date:</strong>
  <%= @underlying.next_earnings_date %>
</p>

<p>
  <strong>Last dividend date:</strong>
  <%= @underlying.last_dividend_date %>
</p>

<p>
  <strong>Options volume:</strong>
  <%= @underlying.avg_daily_opt_volume %>
</p>

<p>
  <strong>Historic volatility:</strong>
  <%= @underlying.historic_volatility %>
</p>

<p>
  <strong>Implied volatility:</strong>
  <%= @underlying.implied_volatility %>
</p>

<p>
  <strong>Iv rank:</strong>
  <%= @underlying.iv_rank %>
</p>

<p>
  <strong>Trend:</strong>
  <%= @underlying.trend %>
</p>

<p>
  <strong>Rsi:</strong>
  <%= @underlying.rsi %>
</p>

<p>
  <strong>Recent Price:</strong>
  <%= @underlying.recent_price %>
</p>

<%= link_to 'Edit', edit_underlying_path(@underlying) %> |
<%= link_to 'Back', underlyings_path %>
