<%= form_for(@trade_param_set) do |f| %>
  <% if @trade_param_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_param_set.errors.count, "error") %> prohibited this trade_param_set from being saved:</h2>

      <ul>
      <% @trade_param_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :near_strike_max_delta %><br>
    <%= f.text_field :near_strike_max_delta %>
  </div>
  <div class="field">
    <%= f.label :min_open_interest %><br>
    <%= f.number_field :min_open_interest %>
  </div>
  <div class="field">
    <%= f.label :min_mark_premium %><br>
    <%= f.text_field :min_mark_premium %>
  </div>
  <div class="field">
    <%= f.label :max_margin_per_trade %><br>
    <%= f.number_field :max_margin_per_trade %>
  </div>
  <div class="field">
    <%= f.label :total_margin %><br>
    <%= f.number_field :total_margin %>
  </div>
  <div class="field">
    <%= f.label :min_percent_rom %><br>
    <%= f.text_field :min_percent_rom %>
  </div>
  <div class="field">
    <%= f.label :avoid_earnings %><br>
    <%= f.check_box :avoid_earnings %>
  </div>
  <div class="field">
    <%= f.label :avoid_dividends %><br>
    <%= f.check_box :avoid_dividends %>
  </div>
  <div class="field">
    <%= f.label :min_options_volume %><br>
    <%= f.number_field :min_options_volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
