<p id="notice"><%= notice %></p>

<h1>Listing Trade Param Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Near strike max delta</th>
      <th>Min open interest</th>
      <th>Min mark premium</th>
      <th>Max margin per trade</th>
      <th>Total margin</th>
      <th>Min percent rom</th>
      <th>Avoid earnings</th>
      <th>Avoid dividends</th>
      <th>Min options volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_param_sets.each do |trade_param_set| %>
      <tr>
        <td><%= trade_param_set.name %></td>
        <td><%= trade_param_set.near_strike_max_delta %></td>
        <td><%= trade_param_set.min_open_interest %></td>
        <td><%= trade_param_set.min_mark_premium %></td>
        <td><%= trade_param_set.max_margin_per_trade %></td>
        <td><%= trade_param_set.total_margin %></td>
        <td><%= trade_param_set.min_percent_rom %></td>
        <td><%= trade_param_set.avoid_earnings %></td>
        <td><%= trade_param_set.avoid_dividends %></td>
        <td><%= trade_param_set.min_options_volume %></td>
        <td><%= link_to 'Show', trade_param_set %></td>
        <td><%= link_to 'Edit', edit_trade_param_set_path(trade_param_set) %></td>
        <td><%= link_to 'Destroy', trade_param_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade param set', new_trade_param_set_path %>
