<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trade_param_set.name %>
</p>

<p>
  <strong>Near strike max delta:</strong>
  <%= @trade_param_set.near_strike_max_delta %>
</p>

<p>
  <strong>Min open interest:</strong>
  <%= @trade_param_set.min_open_interest %>
</p>

<p>
  <strong>Min mark premium:</strong>
  <%= @trade_param_set.min_mark_premium %>
</p>

<p>
  <strong>Max margin per trade:</strong>
  <%= @trade_param_set.max_margin_per_trade %>
</p>

<p>
  <strong>Total margin:</strong>
  <%= @trade_param_set.total_margin %>
</p>

<p>
  <strong>Min percent rom:</strong>
  <%= @trade_param_set.min_percent_rom %>
</p>

<p>
  <strong>Avoid earnings:</strong>
  <%= @trade_param_set.avoid_earnings %>
</p>

<p>
  <strong>Avoid dividends:</strong>
  <%= @trade_param_set.avoid_dividends %>
</p>

<p>
  <strong>Min options volume:</strong>
  <%= @trade_param_set.min_options_volume %>
</p>

<%= link_to 'Edit', edit_trade_param_set_path(@trade_param_set) %> |
<%= link_to 'Back', trade_param_sets_path %>
