<div class="container">
  <div class="row">
    <div class="center-block col-md-4 row-md-2" style="float: none;">
      <div class="panel panel-default" style="margin-top: 75px;">
        <table class="table borderless" id="sign-in-table">
<!--<caption class="text-top ghw-text-center">OptionsCraft Sign In</caption>-->
          <tbody>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <div class="field">
                  <%= f.email_field :email, autofocus: true,  autocomplete: "on",
                    placeholder: "Email address",
                    class: "sign-in-field ghw-top-margin"%>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <div class="field">
                  <%= f.password_field :password, autocomplete: "on",
                    placeholder: "Password", class: "sign-in-field"%>
                </div>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center">
                <a class="btn btn-default" href="<%= new_registration_path(resource_name) %>">
                  Sign Up
                </a>
              </td>
              <td class="ghw-text-center">
                <%= f.submit "Sign In", class: "btn btn-primary sign-in-button"%>
              </td>
            </tr>
            <tr>
              <td class="ghw-text-center" colspan="2">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
                <% end -%>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
