
/* Start: flexbox for trade params */
.ghw-tps-outer-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: flex-start;

  /*border: 1px solid red;*/
  padding: 0;
  list-style: none;
  /*background-color: #e8e8e9;*/
  /*height: 400px;*/
}

.ghw-tps-outer-container:nth-child(1) {
  /*padding: 0;*/
  /*background-color: #e80000;*/
}

.ghw-tps-container {
  display: flex;
  flex-flow: row no-wrap;
  flex-direction: column;

  /*border: 1px solid blue;*/
  padding-left: 0px;
  padding-right: 20px;
  list-style: none;
  /*background-color: #e8e8e9;*/
}

.ghw-tps-item {
  display: flex;
  flex-flow: row no-wrap;
  /*padding: 5px;*/
  margin: 2px;
  /*justify-content: flex-end;*/
  /*justify-content: center;*/
  /*align-content: center;*/
  /*flex: default;*/
}

.ghw-tps-item label {
    /*align-self: flex-start;*/
    /*flex-basis: 200px;*/
    /*white-space: nowrap;*/
    width: 150px;
    flex: 2;
}

.ghw-tps-item input {
    /*align-self: flex-start;*/
    /*flex-basis: 150px;*/
    /*padding: 5px !important;*/
    flex: 1;
    width: 75px;
}

.ghw-tps-centered-label {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-weight: bold;
}
/* End flexbox for trade params */

body{
   min-width:1000px;
   width: auto !important;
   width:1000px;
}

/*#expiration-months {
  font-weight: bold;
}*/

#asset_type-checkbox {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center
}

#max-out-button {
  width: 100%;
}
.ghw-checkbox {
  padding: 5px;
  border: 1px solid grey;
  background-color: #337ab7;
  border-radius: 3px;
  cursor: pointer;
  margin-right: .2em;
}

.ghw-checkbox input {
  cursor: pointer;
}

/*//checkbox styling*/
.ghw-checkbox input[type=checkbox] {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.ghw-checkbox input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  margin-left  : -2em;
  line-height  : 1.5em;
}

.ghw-checkbox {
  display: inline-flex;
}

.ghw-checkbox label {
  cursor: pointer;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 0px !important;
}

.ghw-checkbox input[type=checkbox] + label > span {
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
}

.ghw-checkbox input[type=checkbox]:checked + label > span {
  align-items: center;
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
.ghw-checkbox input[type=checkbox]:checked + label > span:before {
  content     : '✓';
  display     : flex;
  width       : 1em;
  color       : black;
  font-size   : 0.875em;
  line-height : 0.85em;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : medium;
}

.ghw-unchecked-box {
  background-color: white !important;
  border: 1px solid grey;
}

.ghw-unchecked-box label {
  color: black !important;
}

/*//checkbox styling*/


.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.hax {
  width: 50px !important;
}

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.nav-tabs>li {
  float: none;
}

.btn-group .btn {
  float: none !important;
  margin: 0 5px;
  display: inline-block !important;
}

.ghw-nowrap {
  white-space: nowrap !important;
}

.default-hidden {
  display: none;
}

#sign-in-table {
  background-color: #aacccc;
}

.sign-in-button {
  background-color: #447799;
}

.ghw-grey-background {
  background-color: #eeeeee;
}

.ghw-slider-label {
  border: 0;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th, .borderless {
    border: none;
}

.sign-in-field {
  width: 240px;
}

.ghw-top-margin {
  margin-top: 20px;
}

.ghw-text-center {
  text-align: center !important;
}

#data-table-body {
  text-align:right;
}

/*#data-table {
  width: 80%;
}*/

#data-table-head tr th {
  text-align: right !important;
}

.ghw-underlying-slider {
  width: 40%;
}

/*td.ghw-clickable-symbol:hover {
  cursor: pointer;
  background-color: #B0BED9 !important;
}*/

label {
  font-weight: normal !important;
}

.spinner {
  margin: 1px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #449d44;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* .dash { */
/*   border: 0 none; */
/*   border-top: 2px dashed #322f32; */
/*   background: none; */
/*   height:0; */
/* } */
.ghw_divider {
  color: black;
  height: 1px;
  background-color: black;
}

hr.style14 {
  border: 0;
  height: 1px;
  color: black;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#ghw-tp-line {
  margin-top: 5px;
  margin-bottom: 10px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.dt-buttons {
  padding-top: 0.25em;
}
